@inject FormulaOneTech.Services.Ergast.IErgastService _ergastService;
@using Models.Ergast;
<h3 class="text-[#E4EDF5] text-xl font-bold italic">Formula 1 Technical</h3>

@if(isLoading)
{
    <p>Loading</p>
}
else
{
    <FormulaOneTech.Components.Drivers.DriverStandings/>
}


@code {
    public List<Models.Ergast.DriverStandings> Drivers { get; set; }

    private bool isLoading = true;

    protected override async Task OnInitializedAsync()
    {
        isLoading = false;
    }
}