@inject FormulaOneTech.Services.Ergast.IErgastService _ergastService;
@using Models.Ergast;
<h3 class="text-[#E4EDF5] text-xl font-bold italic">Formula 1 Technical</h3>

@if(isLoading)
{
    <p>Loading</p>
}
else
{
    <div class="flex gap-4">
        <div class="flex flex-col gap-4">
            <div>
                <FormulaOneTech.Components.Drivers.DriverStandings/>
            </div>
            <div class="">
                <FormulaOneTech.Components.Constructors.ConstructorStandings/>
            </div>
        </div>
        <div class="flex w-full flex-col gap-4">
            <div>
                <FormulaOneTech.Components.Race.Race/>
            </div>
            <div class="w-full">
                <FormulaOneTech.Components.Race.PreviousRace/>
            </div>
        </div>
    </div>
}


@code {
    public List<Models.Ergast.DriverStandings> Drivers { get; set; }

    private bool isLoading = true;

    protected override async Task OnInitializedAsync()
    {
        isLoading = false;
    }
}